/* defining prefixes so we can use them in mixins below*/
$prefixes: ("-webkit-", "-ms-", "-o-", "-moz-", "");

@mixin animation($animation...) {
    @each $prefix in $prefixes {
		#{$prefix}animation: #{$animation};
	}
}
@mixin keyframes($keyframes) {
	@-webkit-keyframes #{$keyframes} {
		@content;
	}
	@-moz-keyframes #{$keyframes} {
		@content;
	}
	@-o-keyframes #{$keyframes} {
		@content;
	}
	@keyframes #{$keyframes} {
		@content;
	}
}

@mixin transition($transition...) {	
	@each $prefix in $prefixes {
		#{$prefix}transition: $transition;
	}
}
@mixin transform($transforms) {
	@each $prefix in $prefixes {
		#{$prefix}transform: $transforms;
	}
}

// translate
@mixin translate ($x, $y) {
	@include transform(translate($x, $y));
}
// rotate
@mixin rotate ($deg) {
	@include transform(rotate(#{$deg}deg));
}

@mixin transition-delay($transition-delay) {
	-webkit-transition-delay: #{$transition-delay};
	-moz-transition-delay: #{$transition-delay};
	-o-transition-delay: #{$transition-delay};
	transition-delay: #{$transition-delay};
}
@mixin background($filename) {
	background-image: url(../../assets/img/#{$filename});
	background-position: center;
	background-size: cover;
}
