$card-width:540;
$card-height:328;
$project-count:3;
.card {
    width: #{$card-width}px;
    height: #{$card-height}px;
    border-radius: 5px;	    
    background: $white;
    box-shadow: 0 1px 0 $dark-gray;
    position: absolute;
    left: calc(50% - #{$card-width}px/2);
    top: calc(50% - #{$card-height}px/2);
    
    // Card Main with thumbnail & information
	&.main {
        cursor: grab;
        padding-top: 2.5rem;
        z-index: 100;
        left: calc(50% - #{$card-width}px/2);
        top: #{48-$card-height}px;
        box-shadow: 0 5px 5px rgba(0,0,0,0.1);
        &.fall{
            cursor: default;
            @include animation('fall 1s ease-out 0.1s 1 forwards');
            @include keyframes(fall){
                90%{
                    top: calc(50% - #{$card-height}px/2 + 30px);
                }
                100%{
                    top: calc(50% - #{$card-height}px/2);
                }
            }        
        }
        
        //top: calc(50% - #{$card-height}px/2);
        //opacity:0.01;
		.thumbnail {
			background: $dark-gray;
			//@include background("avatar.jpg");
			border: 1px solid $light-gray;
			width: 9.0625em;
			height: 11.125em;
			box-shadow: none;
		}
		.right {
            height: 16rem;
			.group {
                margin-bottom: 0.1rem;
                h3 {
                    font-size: 1.25rem;
                    line-height: 1.25rem;
                    height: 1.25rem;
                    margin-bottom: 0;
                }
				.line {
					color: $black;
                    padding: 0;                    
					&.label {
                        display: inline-block;
                        background: $white;
						//background: $dark-gray;
                        line-height: 0.9rem;
						font-size: 0.8rem;
						font-weight: bold;						
                    }                    
					&.value {
						color: $dark-gray;
						//background: $medium-gray;
						padding: 0;
                        line-height: 1.1rem;
						span.word {
							font-size: 1rem;							
							color: $gray;
							&.smaller {
								font-size: 0.8rem;
							}
						}
					}
				}
				&.name {
					margin-bottom: 0.5rem;
				}
            }
            .contact{
                a{
                    color: $black;
                    padding: 0 0.25rem;
                }
                .email{
                    font-size: 0.825rem;
                    font-weight: 700;
                    &:hover{
                        color: $gray;
                    }
                }
                .icon:hover {
                    #icon-skype{
                        fill:#00AFF0;    
                    }
                    #icon-linkedin{
                        fill:#0073b1;    
                    }
                }
                
                
            }
            
        }
        //Hover main card state
        &:hover{
            // @include transition(all 0.2s);
            // @include transform(translateY(2px));
            //opacity: 1;
        }
    }
    
    // Card Image with image only
    &.image{
        opacity: 0;
        img{
            object-fit: fill;
        }
        @for $i from 1 through $project-count {              
            &.project-#{$i}{
                @include background("project-#{$i}.jpg");
                //@include transition(all 0.2s);
                z-index: 100-$i;
            }       
              
        }       
        &.project-1{
            @include transform(translateX(1px) translateY(2px) rotate(1deg));
            &.hover{               
                @include transform(translateX(3px) translateY(30px) rotate(5deg));    
            } 
        }
        &.project-2{
            @include transform(translateX(-1px) translateY(3px) rotate(-1.3deg));
            &.hover{             
                @include transform(translateX(-3px) translateY(30px) rotate(-3deg));    
            } 
        } 
        &.project-3{
            @include transform(translateX(4px) translateY(4px) rotate(1.5deg));
            &.hover{               
                @include transform(translateX(5px) translateY(35px) rotate(9deg));    
            } 
        } 
        
        
        
    }

   

	&.fullscreen{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transform: scale(0);
        transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
        z-index: 100;
    }
}

