svg#circuit {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    
    .path.animation {
        animation: draw 14s infinite 1s linear;
    }    
    @keyframes draw {
        0% {
        }
        100% {
            stroke-dashoffset: 0;
            stroke-opacity: 1;
        }
    }
    
}

