@import "components/mixin.scss";
@import "components/card.scss";

label{
  box-shadow: 0;
}
.background-gray {
  background: $light-gray;
}
.full-width-bg {
  // @include background('card.svg');
  // background-repeat: repeat;
  // background-position: center center;
  
  height: 100vh;
}
