<div class="card main">
    <div class="grid-x grid-padding-x grid-padding-y">
        <div class="cell small-4">
            <div class="thumbnail"></div>
        </div>
        <div class="cell small-8">
            <div class="info">
                <div class="name">
                    <div class="group">
                        <label class="line label"><h3>KHOA LAM</h3></label>
                        <div class="line value">
                            <span class="word smaller">Designer + Developer</span>
                        </div>
                    </div>
                </div>
                <div class="detail">
                    <div class="group empty">
                        <label class="line label">DESIGN</label>
                        <div class="line value">
                            <span class="word">UI/UX</span>
                            <span class="word">Website</span>
                            <span class="word">Brand</span>
                        </div>
                    </div>
                    <div class="group empty">
                        <label class="line label">DEVELOP</label>
                        <div class="line value">
                            <span class="word">Markup</span>
                            <span class="word">Style</span>
                            <span class="word">Scripting</span>
                        </div>
                    </div>
                    <div class="group empty">
                        <label class="line label">TAGS I KNOW</label>
                        <div class="line value">
                            <span class="word">Photoshop</span>
                            <span class="word">Illustrator</span>
                            <span class="word">XD</span>
                            <span class="word">HTML</span>
                            <span class="word">XML</span>
                            <span class="word">CSS</span>
                            <span class="word">SASS</span>
                            <span class="word">JS</span>
                            <span class="word">NodeJS</span>
                            <span class="word">React</span>
                            <span class="word">Chat-bot</span>
                            <span class="word">Chrome-extension</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>