<div class="card draggable-source main">
    <div class="grid-x grid-padding-x grid-padding-y">
        <div class="cell small-4">
            <div class="thumbnail"></div>
        </div>
        <div class="cell small-8">
            <div class="info">
                <div class="fullname">
                    <h3>KHOA LAM</h3>
                    <p class="subheader">UI/UX, Web, Graphic Designer</p>
                    <p class="subheader">Front End Web Developer</p>
                </div>
                <div class="content">
                    <div class="empty-slot">
                        <div class="key" style="width:5rem"></div>
                        <div class="value"></div>
                    </div>
                    <div class="empty-slot">
                        <div class="key" style="width:3rem"></div>
                        <div class="value"></div>
                    </div>
                    <div class="empty-slot">
                        <div class="key" style="width:4rem"></div>
                        <div class="value"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>